In [139]:
import pandas as pd
import numpy as np
week1_raw = pd.read_csv("Pool_results.csv")
#week1_raw.head()

In [140]:
#function to combine picks and point values
def combine(df1):
    my_file = df1
    rows = my_file.shape[0]
    i = 2 
    while i < rows:
        for col in my_file.loc[:, my_file.columns != 'Name']:
            my_file[col][i+1] = float(my_file[col][i+1])
            my_file[col][i] = [my_file[col][i], my_file[col][i+1]]
        i = i+2
    return my_file

In [141]:
week1 = combine(week1_raw)
#week1.drop([3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43], axis=0, inplace=True)

In [ ]:
#add spread for home team
#for col in week1.columns:
    #week1[col][1] = [week1[col][1], -week1[col][2][1]]

In [142]:
#function to calculate total points
i = 4
week1['Score'] = 0
while i < 42:
    #print(i)
    for col in week1.loc[:, ~week1.columns.isin(['Name', 'Score'])]:
        if week1[col][0] == week1[col][i][0]:
            week1['Score'][i] = week1['Score'][i] + week1[col][i][1]
            #print(week1['Name'][i], ' the ', col, 'was a good game')
        #else:
            #print(week1['Name'][i], "haha, you suck")
    i = i + 2

C:\Users\mzwartz\AppData\Local\Temp\ipykernel_11796\1905780758.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  week1['Score'][i] = week1['Score'][i] + week1[col][i][1]

In [143]:
#week1.sort_values(week1['Score'])
week1[['Name', 'Score']]

              Name  Score
0           Winner      0
1        Home team      0
2        Away Team      0
3           Spread      0
4         abfarias     52
5              NaN      0
6            Bob-Z     72
7              NaN      0
8   Ellieisawesome     61
9              NaN      0
10         jjapcon     60
11             NaN      0
12    Kathy-Zwartz     97
13             NaN      0
14             Ken     67
15             NaN      0
16         Lindsey     53
17             NaN      0
18         Lizzy-Z     45
19             NaN      0
20    Matt-McKenna     56
21             NaN      0
22    MattWojtanek     47
23             NaN      0
24  Michael-Zwartz     47
25             NaN      0
26             PBW     50
27             NaN      0
28          Shaner     53
29             NaN      0
30             TAZ     71
31             NaN      0
32         taz7611     59
33             NaN      0
34     Team-Boylan     66
35             NaN      0
36         UrBoiJZ     62
37             NaN      0
38       Wild-Bill     85
39             NaN      0
40            Zapp     67
41             NaN      0
42     TOTAL Wager      0
43             NaN      0

In [38]:
#upset_score = 0
#for col in week1.columns:
    #if week1[col][1][1] == week1[0]:
    #    upset_score = upset_score + week1[col][1][1]
    #else if week1[0] == week1[col][1][1]