In [105]:
import pandas as pd
week1 = pd.read_csv("Pool_results.csv")
week1.head()

,Unnamed: 0,Game 1,Game 2,Game 3,Game 4,Game 5,Game 6,Game 7,Game 8,Game 9,Game 10,Game 11,Game 12,Game 13,Game 14,Game 15,Game 16
0,Winner,BUF,NO,BAL,PIT,MIA,WAS,CHI,CLE,TIE,PHI,LAC,MIN,NYG,KC,TB,SEA
1,abfarias picks,BUF,ATL,NYJ,CIN,MIA,WAS,CHI,CAR,HOU,DET,LAC,MIN,TEN,ARI,DAL,SEA
2,abfarias points,1,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2
3,Bob Z picks,BUF,NO,BAL,CIN,MIA,WAS,CHI,CAR,IND,PHI,LAC,MIN,TEN,KC,TB,DEN
4,Bob Z points,2,10,14,13,6,7,1,9,15,8,5,4,11,12,3,16

In [106]:
#function to combine picks and point values
my_file = week1
rows = my_file.shape[0]
i = 1 

while i < rows:
    for col in my_file.columns:
        #print(my_file[col][i])
        my_file[col][i] = [my_file[col][i], week1[col][i+1]]
    i = i+2

In [107]:
print(my_file['Game 10'][3])

['PHI', '8']

In [3]:
#function to calculate total points
def total(picks, winner, points):
    total = 0
    for i in picks:
        if picks[i] == winner[i]:
            total = total + points[i]

    return total