In [124]:
import pandas as pd
import numpy as np

In [125]:
#function to combine picks and point values
def combine(df1):
    my_file = df1
    rows = my_file.shape[0]
    i = 2 
    while i < rows:
        for col in my_file.loc[:, my_file.columns != 'Game']:
            my_file[col][i+1] = float(my_file[col][i+1])
            my_file[col][i] = [my_file[col][i], my_file[col][i+1]]
        i = i+2
    
    df1.drop([5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41], axis=0, inplace=True)
    return my_file

#function to calculate totals
def totals(df):
    i = 4
    df['Score'] = 0
    df['Game Count'] = 0
    df['Max Score'] = 136
    while i < 41:
        for col in df.loc[:, ~df.columns.isin(['Game', 'Score', 'Game Count', 'Max Score'])]:
            if df[col][0] is np.nan:
                break
            
            elif df[col][0] == df[col][i][0]:
                df.loc[i, 'Game Count'] = df.loc[i, 'Game Count'] + 1
                df.loc[i, 'Score'] = df.loc[i, 'Score'] + df.loc[i, col][1]
            
            else:  
                df.loc[i, 'Max Score'] = df.loc[i, 'Max Score'] - df.loc[i, col][1]
               
        i = i + 2
    return df

#upset counter
def upset_counter(df):
    upset_count = 0
    fav_count = 0
    tie_count = 0
    for col in df.loc[:, ~df.columns.isin(['Game', 'Score'])]:
        if df[col][3] < 0 and df[col][1] == df[col][0]: #if home team is favorite and away team won
            upset_count = upset_count + 1
            print('Road upset alert ', df[col][0], "spread ", -(df[col][3]))
        elif df[col][3] > 0 and df[col][2][0] == df[col][0]: #if away team is favorite and home team won
            upset_count = upset_count + 1
            print('Home dog win ', df[col][2])
        elif df[col][0] == "TIE":
            tie_count = tie_count + 1
            print("A friggen tie...  ", df[col][2])
        else:
            fav_count = fav_count + 1
    print("Total of ", upset_count, "this week.")
    return upset_count, fav_count, tie_count

In [126]:
week1_raw = pd.read_csv("week1_results.csv")
week2_raw = pd.read_csv("Week2_results.csv")
week3_raw = pd.read_csv("week3_results.csv")
week4_raw = pd.read_csv("week4_results.csv")
week5_raw = pd.read_csv("Week5_results.csv")

week1 = combine(week1_raw)
week2 = combine(week2_raw)
week3 = combine(week3_raw)
week4 = combine(week4_raw)
week5 = combine(week5_raw)

week1_tot = totals(week1)
week2_tot = totals(week2)
week3_tot = totals(week3)
week4_tot = totals(week4)
week5_tot = totals(week5)


week1_stats = week1_tot[['Game', 'Score', 'Game Count']][4:]
week2_stats = week2_tot[['Game', 'Score', 'Game Count']][4:]
week3_stats = week3_tot[['Game', 'Score', 'Game Count']][4:]
week4_stats = week4_tot[['Game', 'Score', 'Game Count']][4:]
week5_stats = week5_tot[['Game', 'Score', 'Game Count', 'Max Score']][4:]

In [127]:
week5_stats['Week Rank'] = week5_stats['Score'].rank(ascending=False)
week5_stats.sort_values(['Max Score'], ascending=False).head()

            Game  Score  Game Count  Max Score  Week Rank
14           Ken     61           8        117        4.0
40          Zapp     78           9        113        1.0
36       UrBoiJZ     77           8        112        2.0
6          Bob Z     58           8        105        7.0
22  MattWojtanek     60           6         98        5.0

In [5]:
week1_stats.sort_values(['Score'], ascending=False).head()

            Game  Score  Game Count
12  Kathy Zwartz     97          13
38     Wild Bill     85          10
6          Bob Z     72          11
30           TAZ     71           8
40          Zapp     67           9

In [6]:
week2_stats.sort_values(['Score'], ascending=False).head()

               Game  Score  Game Count
8   Ellieisawesome1    114          14
26              PBW     92          10
6             Bob Z     86          10
40             Zapp     84          10
24   Michael Zwartz     84           9

In [7]:
week3_stats.sort_values(['Score'], ascending=False).head()

            Game  Score  Game Count
18       Lizzy_Z    107          14
16       Lindsey     96          12
4       abfarias     84           8
30           TAZ     75           7
20  Matt McKenna     74           7

In [10]:
week4_stats.sort_values(['Score'], ascending=False).head()

              Game  Score  Game Count
24  Michael Zwartz    108          12
10         JJapcon    102          10
28          Shaner     96          11
20    Matt McKenna     92          10
22    MattWojtanek     92          11

In [8]:
#upset count week 1
upset_count1 = upset_counter(week1)[0]

Road upset alert  PIT spread  6.5
Home dog win  ['CHI', 7.0]
Road upset alert  CLE spread  1.5
A friggen tie...   ['HOU', 7.0]
Home dog win  ['MIN', 1.5]
Road upset alert  NYG spread  5.5
Home dog win  ['SEA', 6.5]
Total of  6 this week.

In [11]:
upset_count2 = upset_counter(week2)[0]

Road upset alert  NYJ spread  6.0
Road upset alert  MIA spread  3.5
Home dog win  ['JAX', 4.0]
Road upset alert  ARI spread  5.5
Home dog win  ['DAL', 8.0]
Total of  5 this week.

In [12]:
upset_count3 = upset_counter(week3)[0]

Home dog win  ['TEN', 2.0]
Home dog win  ['MIA', 6.0]
Home dog win  ['IND', 6.5]
Home dog win  ['CAR', 2.5]
Road upset alert  JAX spread  7.0
Road upset alert  GB spread  1.5
Road upset alert  ATL spread  2.0
Home dog win  ['DEN', 1.5]
Road upset alert  DAL spread  1.0
Total of  9 this week.

In [13]:
upset_count4 = upset_counter(week4)[0]

Road upset alert  SEA spread  4.5
Road upset alert  NYJ spread  3.5
Home dog win  ['ATL', 1.0]
Road upset alert  TEN spread  3.0
Road upset alert  ARI spread  2.0
Total of  5 this week.

In [16]:
#find season totals 
season_totals = week1_stats[['Score', 'Game Count']] + week2_stats[['Score', 'Game Count']] + week3_stats[['Score', 'Game Count']] + week4_stats[['Score', 'Game Count']]

season_totals = season_totals.set_index(week1_stats['Game'])
season_totals.sort_values(['Score'], ascending=False).head()

                Score  Game Count
Game
Kathy Zwartz      315          39
Michael Zwartz    313          35
Lindsey           309          39
Bob Z             309          41
jjapcon           308          33